* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

header {
    background-color: #2b2b2b;
    color: #fff;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.dHeader {
    display: inline-block;
    margin-left: 30px;
    transition: all ease-in-out 0.2s;
}

.dHeader:hover {
    color: #eb54d2;
}

.cContainter {
    margin-left: auto;
    margin-right: auto;
}

.cContainter>a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.containSection {
    width: 90vw;
    display: flex;
    margin-top: 16%;
}

.firstDivMain {
    height: 280px;
    color: #fff;
    margin-left: 5%;
}

.firstDivMain>h1 {
    font-family: 'Signika', sans-serif;
    font-size: 30pt;
}

.firstDivMain>p {
    font-family: 'Signika', sans-serif;
    font-size: 15pt;
    padding-top: 5%;
    font-weight: 300;
}

.seconDivMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstDivMain,
.seconDivMain {
    width: 50%;
}

i {
    margin-right: 4px;
    height: 20px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#mainButton1 {
    display: flex;
    background-color: #c044e6;
    margin-bottom: 5px;
    width: 165px;
    justify-content: center;
    align-items: center;
}

#mainButton2 {
    background-color: #d853cd;
    margin: 5px 5px 10px 5px;

}

#mainButton3 {
    background-color: rgb(241, 72, 123);
    margin: 5px 5px 10px 5px;
}

#mainButton4 {
    background-color: rgb(216, 64, 64);
    margin: 0 5px 5px 5px;
}

#mainButton1,
#mainButton2,
#mainButton3,
#mainButton4 {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    border-radius: 15px;
    font-size: 16pt;
    padding: 11px;
}

@keyframes pulsingBorder {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

#mainButton1,
#mainButton2,
#mainButton3,
#mainButton4 {
    animation: pulsingBorder 2s infinite;
    background-clip: padding-box;
    border: 2px solid transparent;
    transition: all ease-in-out 0.4s;
}

#mainButton1:hover {
    background-color: rgba(216, 140, 240, 0.932);
}

#mainButton2:hover {
    background-color: rgba(250, 125, 239, 0.979);
}

#mainButton3:hover {
    background-color: rgba(245, 131, 165, 0.966);
}

#mainButton4:hover {
    background-color: rgba(255, 73, 73, 0.966);
}

.kitty {
    position: fixed;
    top: -60px;
    z-index: 9999;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        top: -30px;
    }

    100% {
        top: 100%;
    }
}

@media screen and (max-width: 680px) {
    .firstDivMain {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .firstDivMain>h1 {
        margin-top: 15vh;
    }

    .firstDivMain>p {
        padding-top: 0;
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
    }

    .seconDivMain {
        order: 2;
        height: 30vh;
        margin-top: 20px;
    }

    #mainButton1 {
        width: 190px;
        height: 40px;
    }
}

@media screen and (max-width: 565px) {
    #mainButton1 {
        width: 190px;
        padding: 8px;
    }
}

@media screen and (max-width: 420px) {
    body {
        overflow: hidden;
    }

    #mainButton4 {
        margin-bottom: 45px;
    }

    .firstDivMain {
        height: 24em;
    }

    .firstDivMain>p {
        margin-top: 20px;
        transform: translateY(0);
    }

    .firstDivMain>h1 {
        margin-top: 80px;
    }

    .seconDivMain {
        height: 300px;
        margin-top: 20px;
    }

    .dHeader {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.signImg {
    width: 50px;
    height: 40px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    animation: bounceSign 0.6s ease-out infinite alternate;
    visibility: hidden;
}

@keyframes bounceSign {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.mouseTrail {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    pointer-events: none;
    transition: transform 0.1s ease;
}